* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
}

.one {
    background-color: black;
}

.parent {
    width: 90%;
    height: 100vh;
    margin-right: 5%;
    margin-left: 5%;
    background-color: white;
}

.navbar {
    display: grid;
    height: 10%;
    width: 100%;
    background-color: black;
    grid-template-columns: 2fr 1.5fr 2fr;
    gap: 1em;
}

.nav {
    border-radius: 1em;
    color: white;
}

.titles {
    display: grid;
    justify-content: space-around;
    align-content: center;
    grid-template-columns: 1.2fr 1fr 1.5fr;
}

button {
    border: none;
    background-color: black;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.other {
    display: flex;
    justify-content: flex-end;
    gap: 22px;
    align-items: center;
    float: left;
}

.logo {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
}

.btn12 {
    width: 70px;
    height: 45px;
    background-color: aliceblue;
    border-radius: 3em;
}

.fa-globe,
.fa-bars {
    font-size: 1rem;
}

.fa-bars,
.fa-circle-user {
    color: rgb(44, 40, 40);
}

.fa-circle-user {
    font-size: 1.5rem;
}

.search {
    background-color: black;
    height: 10%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}

.require {
    width: 60vw;
    height: 4.3em;
    background-color: rgb(255, 250, 250);
    display: grid;
    border-radius: 3em;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
    justify-content: space-evenly;
    align-items: center;
}

.require-child {
    background-color: rgb(255, 255, 255);
    width: 100%;
    gap: 1em;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    border-radius: 3em;
    height: 100%;
    padding: 1em;
}

.require-child>div>p:nth-child(1) {
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.require-child>div>p:nth-child(2) {
    color: rgb(77, 73, 73);
}

.require-child>div>i {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 2em;
    border-radius: 50%;
}

.no {
    background-color: red;
    width: 2.5em;
    height: 2.3em;
    border-radius: 3em;
    text-align: center;
}

.last {
    height: 50px;
    width: 50px;
}

.nope {
    width: 85.5em;
    height: 80vh;
}

.img-lo {
    height: 4em;
}

.text {
    background-image: url('images/7b8f9425-f5e7-4c9e-9d6d-b39fa2f6e651.jpg');
    height: 50em;
    display: grid;
    justify-content: center;
    align-content: center;
}

.experience {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 2em;
}

.two {
    height: 184vh;
    width: 100%;
}

.container-experiences {
    display: grid;
    height: 80vh;
    background-color: white;
}

.black {
    height: 15vh;
    width: 100%;
    background-color: black;
}

.young-parent {
    height: 70vh;
    align-items: center;
    padding: 4em;
    font-size: 1.5em;
}

.str-young {
    height: 30em;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    width: 83 vw;
    gap: 2em;
    justify-content: flex-start;
    margin-top: 2em;
}

.young {
    width: 40vw;
    height: 100%;
    border-radius: 2em;
    background-size: 50% 100%;
    padding: 4em;
}

.y-one {
    background-image: url('images/y-one.jpg');
}

.y-two {
    background-image: url('images/y-two.jpg');
}

.shop {
    height: 22em;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 5em;
}

.shop-image {
    width: 50em;
    height: 20em;
    margin-left: 10%;
    float: left;
}

.three {
    height: 95em;
    display: flex;
    /* gap: 5em; */
    flex-direction: column;
}

.image-cont {
    height: 47em;
    width: 105em;
    background-image: url('images/7b8f9425-f5e7-4c9e-9d6d-b39fa2f6e651.jpg');
    border-radius: 20px;
    padding: 4em;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 5%;
}

.text-shop {
    margin-top: 34%;
}

.inspirational {
    height: 31vh;
    width: 105em;
    margin-left: 5%;
    margin-top: 5em;
}

.changers {
    height: 3vh;
    display: flex;
    gap: 1em;
    border-bottom: 1px solid rgb(51, 50, 50);
    margin-top: 1em;
}

.changers>button {
    background-color: white;
    color: rgb(77, 73, 73);
}

.changers>button:nth-child(1) {
    color: black;
    font-weight: bolder;
    border-bottom: 2px solid black;
}

.places {
    margin-top: 1.3em;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.place-names {
    display: grid;
    grid-auto-rows: 3em;
    gap: 1em;
}

.place-names>button {
    background-color: white;
    color: black;
    text-align: left;
}

.place-names>button>p:nth-child(2) {
    color: hsl(0, 0%, 100%);
}

.place-names>button>a:nth-child(1) {
    color: black;
}

.ending {
    height: 50vh;
    width: 100%;
    background-color: rgb(252, 246, 246);
}

.first-end {
    height: 42.2vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    align-content: center;
    justify-content: center;
    grid-auto-rows: 20em;
    margin-left: 5%;
    margin-right: 8%;
}

.end-child {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.end-child>a {
    color: black;
    text-decoration: none;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.end-child>p:nth-child(1) {
    font-weight: bolder;
}

.last-end {
    height: 9vh;
    border-top: 2px solid black;
}

.everlast {
    height: 8vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.ending-last {
    display: flex;
    align-content: center;
    padding-top: 1.7em;
    gap: 1em;
}

.ending-last {
    margin-left: 5%;
    margin-right: 5%;
}

.ending-last {
    font-size: 20px;
}